{% extends "base.html" %}

 {% block content %}
<style>

    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .head_text{
    color: white;
  }
    .card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>

    <header class="masthead" >
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                  <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to our Blog</h3>
<!--                    <p class="text-light"> Greek Code Community..! &nbsp-->
<!--                    </p>-->
                </div>
                    </div>
                  </div>
                </div>
            </div>
    </header>


            <div class="container">
                <div class="row">
              <!-- Blog Entries Column -->
                    <div class="col-md-8 mt-3 left">
                        {% for post in post_list %}
                <div class="card mb-4" >
                    <img src=" {{ post.thumbnail.url }} " class="img-responsive card-img-top">
                  <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.Author }} | {{ post.created_on}} </p>
                    <div class="card-text">{{post.content|safe|slice:":100" }}</div>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
                {% endfor %}
            </div>
                {% block sidebar %}
                {% include 'sidebar.html' %}
                {% endblock sidebar %}
            </div>
        </div>

        {% if is_paginated %}
          <nav aria-label="Page navigation conatiner"></nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
          </ul>
          </nav>
        </div>
        {% endif %}

{%endblock%}